.tile {
  display: inline-block;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid black;
  position: relative;
  vertical-align: top;
}

.tile.black {
  color: white;
}

.tile.white {
  color: black;
}

.tile::before {
  content: '';
  width: 90%;
  height: 90%;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.95);
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.tile.black::after,
.tile.white::after {
  content: '';
  width: 90%;
  height: 90%;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tile.black::after {
  background-image: radial-gradient(circle, black, rgb(50, 50, 50));
}

.tile.white::after {
  background-image: radial-gradient(circle, whitesmoke, grey);
}

.label {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
  font-weight: bold;
  font-size: 1.5rem;
}

@keyframes dropStone {
  0% {
    transform: scale(1.1) translate(-50%, -75%);
    opacity: 0.2;
  }
  100% {
    transform: scale(1) translate(-50%, -50%);
    opacity: 1;
  }
}

.tile.black::after,
.tile.white::after {
  animation: dropStone 0.2s forwards;
}
