.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid black;
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.tile.black {
  color: white;
}

.tile.white {
  color: black;
}

.tile.black::after {
  content: '';
  width: 90%;
  height: 90%;
  background-image: linear-gradient(black, rgb(88, 88, 88));
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tile.white::after {
  content: '';
  width: 90%;
  height: 90%;
  background-image: linear-gradient(whitesmoke, grey);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.label {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 1.5rem;
}

.tile::before {
  content: '';
  width: 90%;
  height: 90%;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.95); /* Start a bit smaller */
  background-color: rgba(0, 0, 0, 0); /* Start transparent */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transitions */
}

.tile:hover::before {
  background-color: rgba(0, 0, 0, 0.1); /* End with a faint shadow */
  transform: translate(-50%, -50%) scale(1); /* Scale up to its original size */
}
